@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


.App {
  text-align: center;
  font-family: 'Baumans', cursive;
  display: grid;
  grid-template-rows: 400px auto;
  grid-template-columns: 300px auto ;
  grid-template-areas: 
   'header header'
   'sidebar page';
}

body {
  margin: 0;
  background-color: #EEEEEE;
}

.Articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: page;
}

nav {
  grid-area: sidebar;
  display: grid;
  text-align: left;
  grid-template-rows: 150px 150px 150px 150px;
}

